@font-face {
  font-family: 'Amatic SC';
  src: url('#{$font-path}/amastic_sc/AmaticSC-Regular.woff2') format('woff2'),
  url('#{$font-path}/amastic_sc/AmaticSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('#{$font-path}/amastic_sc/AmaticSC-Bold.woff2'),
  url('#{$font-path}/amastic_sc/AmaticSC-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}

