@font-face {
  font-family: 'Satisfy';
  src: url('#{$font-path}/satisfy/Satisfy-Regular.woff2') format('woff2'),
  url('#{$font-path}/satisfy/Satisfy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

